<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Caculator</title>
    <link href="static/Calculator-style.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1 class="header">計算機測試</h1>
      <img
        class="calculator-icon"
        src="static/Web_image/calculator.png"
        alt="My test image"
      />
    </header>

    <main>
      <div class="container">
        <form id="function-container">
          <input name="input-box" size="30" id="key" />
          <button type="submit" name="Calculate" id="btn">=</button>
        </form>
        <div class="result-container">
          <label>結果 : </label>
          <label id="result-label"></label>
        </div>
      </div>
    </main>

    <footer>
      <div>
        <li>Made by 4A8G0034 莊子霆</li>
      </div>
    </footer>
    <script src="static/web-function.js"></script>
  </body>
</html>
